tmp/

# data files
data/
datacache/
cache/
*.csv
*.txt
*.xls
*.xlsx
*.pq
*.parquet
*.zip

# user settings and environment
.Renviron
enviroment.Renviron
renv/
renv.lock
.Rproj.user
.Rhistory
.Rdata

# R package
man/

# quarto files
.quarto
*_files/
*.html
_site/
*.docx

# Python and Jupyter
*.ipynb
.ipynb_checkpoints/
*.pyc

# symbolic links to packages: OS dependent, created on init
nbs/pubdata
pubdata/reseng

# other
.DS_Store
.httr-oauth

