data/
tmp/

# quarto files
*_files/
*.html
_site/

.ipynb_checkpoints/
*.pyc

# version notebooks in markdown format with jupytext
*.ipynb

# symbolic links to packages: OS dependent, created on init
nbs/pubdata
pubdata/reseng

